<launch>
  <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" output="screen" />

  <include file="$(find motion_planning)/launch/mp.launch"/>
  <node pkg="motion_planning" type="marker_control.py" name="marker_control" output="screen" />
  <node pkg="motion_planning" type="motion_planning.py" name="motion_planning" output="screen" />
  <node pkg="cartesian_control" type="cartesian_control.py" name="cartesian_control" output="screen" />  

  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find motion_planning)/config/mp.rviz" />
  
</launch>
