<launch>

  <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" output="screen" />
  <rosparam param="robot_description" command="load" file="$(find lwr_defs)/urdf/kuka_lwr_arm.urdf" />
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find motion_planning)/config/mp.rviz" />
  <node pkg="robot_sim" type="robot_sim_bringup" name="robot_sim" output="screen" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="transform_publisher" output="screen" />

   
  <include file="$(find lwr_robot_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <include file="$(find lwr_robot_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="false"/>
  </include>

  <node pkg="motion_planning" type="marker_control.py" name="marker_control" output="screen" />

  <node pkg="motion_planning" type="motion_planning.py" name="motion_planning" output="screen" />

</launch>
